"*":
  "exception-reporting":
    userId: "0378aabf-ac56-5631-6f9e-34e6f445bfe4"
  welcome:
    showOnStartup: false
  metrics:
    userId: "44a636dc264f18b3195fb26e20b4951d910b0f2d"
  editor:
    fontFamily: "menlo"
    autoIndent: false
    tabLength: 4
    invisibles: {}
    fontSize: 14
  core:
    disabledPackages: [
      "sublime-tabs"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
  "vim-mode":
    useSmartcaseForSearch: true
  autosave:
    enabled: true
  react: {}
